<div class="list-group" "text-center">
<% @espressos.each do |espresso| %>
<a href="espressos/<%= espresso.id %>" class="list-group-item"><%= espresso.name %></a>
<% end %>

<a class="btn btn-sm btn-primary" href="/espressos/new">New Extraction</a>
</div>