<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>New Espresso Entry</h2>

    <form action="/espressos" method="POST" name="form3">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
        </div>
        <div class="form-group">
            <label for="brand">Brand:</label>
            <input type="text" class="form-control" id="brand" placeholder="Enter brand" name="brand" required>
        </div>
        <div class="form-group">
            <label for="grind_size">Grind Size:</label>
            <input type="number" class="form-control" id="grind_size" placeholder="Enter grind size" name="grind_size" required>
        </div>
        <div class="form-group">
            <label for="dose">Dose:</label>
            <input type="number" class="form-control" id="dose" placeholder="Enter dose" name="dose" required>
        </div>
        <div class="form-group">
            <label for="extraction_volume">Extraction Volume:</label>
            <input type="number" class="form-control" id="extraction_volume" min="0" step="0.01" placeholder="Enter extraction volume in grams" name="extraction_volume" required>
        </div>
        <div class="form-group">
            <label for="extraction_time">Extraction Time:</label>
            <input type="number" class="form-control" id="extraction_time" min="0" step="0.01" placeholder="Enter extraction time in seconds" name="extraction_time" required>
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



