<div class="container">
    <h2>Log in to your account:</h2>
    <form action="/login" method="POST" name="form1">
        <div class="form-group">
            <label for="name">Email address:</label>
            <input type="email" class="form-control" id="name" placeholder="Enter email address" name="email">
        </div>
        <br>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        </div>
        <button type="submit" class="btwn btwn-default">Submit</button>
    </form>
</div>