 <% if flash.has?(:error) %>
            <h3 class="error"><%= flash[:error] %></h3>
        <% elsif flash.has?(:message) %>
            <h3 class="message"><%= flash[:message] %></h3>
            <h3><a href="/" style="text-decoration: underline;">Back to homepage</a><h3>

<div class="container">
    <h2>Log in to your account:</h2>
    <form action="/login" method="POST" name="form1">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email address" name="email">
        </div>
        <br>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        </div>
        <br>

        <input type="submit" value="Submit"/>
        
        <p>Don't have an account?<br><a href="/signup"> Sign Up</a></p>
    </form>
</div>