<!DOCTYPE html>
<html>
<title>Sign Up</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<div class="w-3-card-4">
    <div class="w3-container w3-teal">
        <h2>Log In</h2>
    </div>
    <form class="w3-container" action="/login" method="POST">
        <p>
            <label class="w3-text-teal">Email Address</b></label>
            <input class="w3-input w3-border w3-sand" type="email" id="email" placeholder="Enter email address" name="email" required>
        <p>
            <label class="w3-text-teal">Password</b></label>
            <input class="w3-input w3-border w3-sand" type="password" id="password" placeholder="Enter password" name="password" required>
        <p>
        <button type="submit" class="w3-btn w3-teal">Submit</button></p>
        <p>Don't have an account?<br><a href="/signup">Sign Up</a></p>
    </form>
    </div>
</body>
</html>