<div class="container">
    <h2>Sign Up:</h2>
    <form action="/signup" method="POST" name="form2">
        <div class="form-group">
            <label for="name">Email address:</label>
            <input type="email" class="form-control" id="name" placeholder="Enter email address" name="email" required>
        </div>
        <br>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
        </div>
        <br>

        <input type="submit" value="Submit"/>
    <p>Already have an account? <a href="/login">Log in</a></p>
    </form>
</div>