<% if flash.has?(:error) %>
            <h3 class="error"><%= flash[:error] %></h3>
        <% end %>
        
<div class="container">
    <h2>Sign Up:</h2>
    <form action="/signup" method="POST" name="form2">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="name" class="form-control" id="email" placeholder="Enter first and last name" name="name" required>
        </dv>
        <br>

        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email address" name="email" required>
        </div>
        <br>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
        </div>
        <br>

        <input type="submit" value="Submit"/>

    <p>Already have an account? <a href="/login">Log in</a></p>
    </form>
</div>