<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Sign Up</h2>
    <form action="/signup" method="POST" name="form2">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="name" class="form-control" id="email" placeholder="Enter first and last name" name="name" required>
        </dv>
        <br>

        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email address" name="email" required>
        </div>
        <br>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
        </div>
        <br>
        
        <button type="submit" class="btn btn-primary">Submit</button>

    <p>Already have an account? <a href="/login">Log in</a></p>
    </form>
</div>