<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2>Espresso</h2>

<ul>
<% @espressos.each do |espresso| %>
    <li>
    <a href="/espresso/<%= espresso.id %>"><%= espresso.name %> - <%= espresso.brand %> - <% espresso.grind_size %> - </a>
    </li>
    <% end %>
</ul>

<p><a href="/espresso/new">Create a new espresso extraction entry</a></p>