<% if flash.has?(:error) %>
            <h3 class="error"><%= flash[:error] %></h3>
        <% end %>

<h2>New Espresso Extraction</h2>

<form action="/espresso" method="POST" name="form3">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
        
        <label for="brand">Brand:</label>
        <input type="text" class="form-control" id="brand" placeholder="Enter brand" name="brand" required>

        <label for="grind_size">Grind Size:</label>
        <input type="number" class="form-control" id="grind_size" placeholder="Enter grind size" name="grind_size" required>

        <label for="dose">Dose:</label>
        <input type="number" class="form-control" id="dose" placeholder="Enter dose" name="dose" required>

        <label for="extraction_volume">Extraction Volume:</label>
        <input type="number" class="form-control" id="extraction_volume" min="0" step="0.01" placeholder="Enter extraction volume in grams" name="extraction_volume" required>

        <label for="extraction_time">Extraction Time:</label>
        <input type="number" class="form-control" id="extraction_time" min="0" step="0.01" placeholder="Enter extraction time in seconds" name="extraction_time" required>

        <input type="submit" value="Submit"/>
    </div>
</form>
