
<h2><%= @espresso.name %></h2>

<h3>Brand</h3>
<p><%= @espresso.brand %></p>

<h3>Grind Size</h3>
<p><% @espresso.grind_size %></p>

<h3>Dose</h3>
<p><% @espresso.dose %></p>

<h3>Extraction Volume</h3>
<p><% @espresso.extraction_volume %></p>

<h3>Extraction Time</h3>
<p><% @espresso.extraction_time %></p>

