
  <body>
    <div class="wrapper">
      <nav>
      <span class="right">
      <% if Helpers.current_user(session) %>
        Hi, <%= Helpers.current_user(session).name %> 
        <a href= "/espressos">Espresso Entry</a>
        <a href="/espressos/index">List of Espresso Extractions</a>
        <a href= "/logout">Log Out</a>
      <% else %>
      <a href="/login">Log In</a> or <a href="/signup">Sign Up</a>
      <% end %>
      </span>
      </nav>
        <%= yield %>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </body>
</html>
